<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

  <h1>DATA FORM FORMS</h1>
  <table border="1">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Roll number</th>
        <th>Password</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for data in dataform %}
        <tr>
          <td>{{ data.first_name }}</td>
          <td>{{ data.last_name }}</td>
          <td>{{ data.roll_number }}</td>
          <td>{{ data.password }}</td>
          <td>
            <a href="update-data/{{data.id}}">Update</a>
          </td>
          <td>
            <a href="delete-data/{{data.id}}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</body>
</html>